@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

.main {
  background-image: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  color: #f3f4f6;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: scroll 300s linear infinite;

  /* min-width: 360px;*/
  /* min-height: calc(100vh - 3rem); */
  @apply absolute inset-x-6 top-6 box-border min-h-[calc(100vh-3rem)] min-w-80 border border-neutral-600 bg-neutral-950 bg-cover bg-center p-6;
}

@media (prefers-reduced-motion) {
  .main {
    animation: scroll 1200s linear infinite;
  }
}

.aboutContainer {
  @apply flex select-none flex-col;
}

.name {
  @apply text-5xl font-thin opacity-75;
}

.title {
  @apply text-2xl font-thin opacity-75;
}

.linksContainer {
  @apply absolute bottom-0 right-0 m-4 flex flex-row items-center justify-center;
}
